/* 
    Created on : 23.12.2016, 14:46:08
    Author     : Oleh Vasylyev (TobikSoft.com)
*/


.onepagecheckoutleft {
	width: 32%;
	float: left;
}
.onepagecheckoutright {
	width: 66%;
	float: right;
        display:inline-block;
}
.onepagecheckoutmid {
	width: 100%;
}
#shipping-method {
        width: 51%;
        float: left;
        overflow: auto;
        padding-right: 2%;
}
#payment-method {
       overflow: auto;
}
#coupon-heading {
        width: 100%;
}
#coupon-content {
        width: 32%;
        float: right;
        margin-left: 0.5%;
        margin-right: 0.5%;
}
#voucher-content {
        width: 32%;
        float: right;
        margin-left: 0.5%;
        margin-right: 0.5%;
}
#reward-content {
        width: 32%;
        float: right;
        margin-left: 0.5%;
        margin-right: 0.5%;
}

